@model IEnumerable<ShoppingApp.Models.CodeFirst.OrderItem>


@{
    ViewBag.Title = "Index";
}
<h2>Review and Place Your Order <small>(@ViewBag.CartItems.Count Items)</small></h2>
<br />

<div class="container" style="">
    <div class="row"style="text-align: left; border-bottom:groove; border-top:groove; ">
        <h4>Shipping Address</h4>
        @if (ViewBag.ShippingAddress.IsEmpty = false) {
            <h3>@ViewBag.User.ShippingAddresses.AddressDesc</h3>
            <h3>@ViewBag.User.ShippingAddresses.Recipient</h3>
            <h3>@ViewBag.User.ShippingAddresses.StreetAddress</h3>
            <h3>@ViewBag.User.ShippingAddresses.City , @ViewBag.User.ShippingAddress.State , @ViewBag.User.ShippingAddress.ZipCode</h3>
            <h3>@ViewBag.User.ShippingAddresses.PhoneNumber</h3>
            <h3>@ViewBag.User.ShippingAddresses.SpecInstructions</h3>
        }
        else {
            <h3><b>No Shipping Information Exists</b></h3>
            // ADD A METHOD TO ADD  NEW SHIPPING ADDRESSES - MAYBE MAKE IT A MODAL, FOR CONVENIENCE
            // DON'T FORGET FUNCTION OVER FORM THOUGH!!!!
            @using (Html.BeginForm("Index", "Order", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <button type="submit" value="" class="form-actions no-color" style="border:none; color: white; background-color:rgb(35,51,102)">Add Shipping Address</button>
            }
        }
</div>
    <div class="row">
        @*Payment Method Selection*@
    </div>
    @*HEADER ROW*@
    <div class="row" style="text-align: left; border-bottom:groove; border-top:groove; ">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-1 col-sm-1">
            <h4>Item</h4>
        </div>
        <div class="col-md-1 col-sm-1" style="text-align:left; ">
            <h4>Price</h4>
        </div>
        <div class="col-md-1 col-sm-1" style="text-align:center; ">
            <h4>Qty</h4>
        </div>
        <div class="col-md-1 col-sm-1">
            <h4>Total</h4>
        </div>
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-2 col-sm-2" style="margin-top: 4px;">
            @using (Html.BeginForm("Index", "Order", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <button type="submit" value="" class="form-actions no-color" style="border:none; color: white; background-color:rgb(35,51,102)">Place Order</button>
            }
        </div>
    </div>



        @foreach (var m in Model) {
            <div class="row" style="text-align: left">
                <div class="col-md-1 col-sm-1" style="margin-top: 11px;">
                    <img src="@m.Item.MediaURL" style="height:75px" />
                </div>
                <div class="col-md-1 col-sm-1">
                    <h6>@m.Item.Name</h6>
                </div>
                <div class="col-md-1 col-sm-1">
                    @m.UnitPrice
                </div>
                <div class="col-md-1 col-sm-1" style="text-align:center; ">
                    @m.Count
                </div>
                <div class="col-md-1 col-sm-1">
                    <h6>$@m.unitTotal</h6>
                </div>
                <div class="col-md-2 col-sm-2" style="margin-top: 4px;"></div>
                <div class="col-md-2 col-sm-2"></div>
            </div>
            <br />
        }
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-3 col-sm-2"></div>
            @*<div class="col-md-2 col-sm-2"></div>*@
            <div class="col-md-3 col-sm-2" style="text-align: right;">
                <h4>Order Total:  $@ViewBag.OrderTotal</h4>
            </div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
    <hr />
    @Html.ActionLink("Back to List", "Index", "Items")
